  <div class="flex items-center space-x-4 mb-4">
    <p class="w-1/2">
      <%= form.label :product_id, "Product" %>
      <%= form.collection_select :product_id, Product.all, :id, :title, {}, { class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" } %>
    </p>
    <p class="w-1/6">
      <%= form.label :qty, "Qty" %>
      <%= form.number_field :qty, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 text-center" %>
    </p>
    <p class="w-1/6">
      <%= form.label :amount, "Amount" %>
      <%= form.number_field :amount, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 text-center" %>
    </p>
    <small><%= link_to "Remove", "#", data: { action: "click->nested-form#remove_association" } %></small>
    <%= form.hidden_field :_destroy %>
  </div>